Flask==2.2.5
flask-cors==4.0.1
gunicorn==21.2.0

opencv-python-headless==4.9.0.80
Pillow==10.3.0
PyMySQL==1.1.0

numpy==1.26.4
pandas==2.1.4

ultralytics==8.3.25
python-dotenv
mysql-connector-python>=8.0.0

# Thư viện citizenID_recognition từ GitHub
git+https://github.com/nguyenhoangthienan/citizenID_recognition.git