body {
    background: #f5f9ff;
    font-family: Arial;
}

.container {
    width: 92%;
    margin: auto;
    background: white;
    padding: 20px;
    border-radius: 14px;
    margin-top: 25px;
    box-shadow: 0 0 12px rgba(0,0,0,0.1);
}

h2 {
    text-align: center;
    color: #007bff;
}

input, button {
    width: 100%;
    padding: 12px;
    margin-top: 10px;
    border-radius: 8px;
}

button {
    background: #007bff;
    color: white;
    border: none;
}
.card {
    padding: 10px;
    background: #eef4ff;
    border-radius: 10px;
    margin-bottom: 15px;
}
img {
    border-radius: 10px;
    margin: 5px;
}
